https://launchpad.net/lazr.authentication/trunk/0.1.3/+download/lazr.authentication-0.1.3.tar.gz
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
httplib2==0.9
itsdangerous==0.24
launchpadlib==1.6.0
lazr.restfulclient==0.13.1
lazr.uri==1.0.3
oauth==1.0.1
pymongo==2.7.2
python-dateutil==2.2
pytz==2014.9
requests==2.4.3
simplejson==3.6.5
six==1.8.0
wadllib==1.3.2
wsgi-intercept==0.9.0
wsgiref==0.1.2
zope.interface==4.1.1
