{% extends "layout.html" %}
{% block body %}

<h1 class="page-header">Mirantis Projects QA Status Report</h1>
        <h2 class="page-header">Addition a new project</h2>

<div class="main_info">
  It is possible to add new project to the QA Status service<br>
  Just set the name and click the "ADD" button.<br><br>
</div>


<p><strong>Name: </strong></p>
<p><input maxlength="25" size="40"></p>


<div class="add">
    <button><img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678121-cloud-sync-32.png" alt="Add project"> ADD </button></p>
</div>
{% endblock %}