{% extends "layout.html" %}

{% block body %}
<h2 class="page-header"><br>Hard Code Freeze Status: Milestone {{ current_milestone }}</h2>
<div class="col-sm-3 col-md-2 sidebar">
    <br>
    {% for m in milestones|sort %}
    {% if m != "5.0.2" %}
    <ul class="nav nav-sidebar">
        <li {% if current_milestone == m %}class="active"{% endif %}>
            <a href="/project/code_freeze_report/{{ m }}">Milestone {{ m }}</a>
        </li>
    </ul>
    {% endif %}
    {% endfor %}
    
    <ul class="nav nav-sidebar">

        <li>
            <a href="/project/code_freeze_report/{{ key_milestone }}">MOS HCF Status
            </a>
        </li>
    </ul>
</div>

{% for team in teams %}

        <h3 class="page-header"><br>{{team}} : {{bugs[team]["count"]}} {% if bugs[team]["count"] == 1%}bug{%else%}bugs{%endif%}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Bug #</th>
                    <th>Title</th>
                    <th>Milestone</th>
                    <th>Status</th>
                    <th>Importance</th>
                    <th>Assignee</th>
                </tr>
            </thead>
            <tbody>

            {% for b in bugs[team]["bugs"] %}
            <tr class="bug_row" id="{{ b.id }}">
                <td><a href="{{ b.web_link }}">{{ b.id }}</a></td>
                <td>{{ b.title }}</td>
                <td>{{ b.milestone }}</td>
                <td>{{ b.status }}</td>
                <td>{{ b.importance }}</td>
                <td><a href="{{ b.assignee_link }}">{{ b.assignee }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endfor %}

{% endblock %}