{% block body %}

<style>
  table, td, th {
    border: 1px solid black;
  }

  th {
    background-color: #E0E0E0;
    color: black;
    padding: 7px;
  }
</style>


<table>
  <thead>
    <tr>
      <th>Image #</th>
      <th>Build Date</th>
      <th>Build Status</th>

      {% for test_type in tests_types %}
        <th>{{ test_type['name'] }} Tests Results</th>
      {% endfor %}

      <th>Image Links</th>
    </tr>
  </thead>
  <tbody>
    {% for image in images %}
      {% if image['version'] == version %}
        <tr class="mos_images_status">
          <td>{{ image.get('iso_number', '') }}</td>
          <td>{{ image.get('build_date', '') }}</td>

          <td><b>
          {% if image.get('build_status', '') == 'PASS' %}
            <font color="green">
          {% else %}
            <font color="red">
          {% endif %}
          {{ image.get('build_status', '') }}
          </font> </b> </td>
          
          {% for test in tests_types %}
           <td> <b>
           {% if image.get('tests_results', []).get(test['name'], '') == 'PASS' %}
              <font color="green">
           {% else %}
              <font color="red">
           {% endif %}
           
           {{ image.get('tests_results', []).get(test['name'], '') }}
           </font> </b> </td>
          {% endfor %}

          <td>
            <a href="{{ image.get('iso_link', '') }}">ISO</a> &nbsp;
            <a href="{{ image.get('img_link', '') }}">IMG</a> &nbsp;
            <a href="{{ image.get('torrent_link', '') }}">Torrent</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
