{% extends "layout.html" %}
{% block body %}

<h1 class="page-header"><br>Bug Statistic: Milestone {{ current_milestone }}</h1>
<div class="col-sm-3 col-md-2 sidebar">
    <br>
    {% for m in milestones|sort %}
    <ul class="nav nav-sidebar">

        <li>
            <a href="/project/fuelplusmos/{{ m }}">Milestone {{ m }}
            </a>
        </li>
    </ul>

    {% endfor %}
</div>


<div class="table_wrapper">
    <table class="bug_statistic">
          <tr>
              <th rowspan="2">Subproject</th>
              <th colspan="3">FUEL</th>
              <th colspan="3">MOS</th>
              <th colspan="3">FUEL + MOS</th>
              <tr>
                  {% for i in range(3) %}
                      <td>done</td>
                      <td>total</td>
                      <td>high, critical<br>(not done)</td>

                  {% endfor %}
              </tr>
        </tr>

        {% for i in page_statistic %}
            <tr>
                <td>{{i}}</td>
                <td><a href="https://bugs.launchpad.net/fuel/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=INVALID&field.status%3Alist=WONTFIX&field.status%3Alist=FIXCOMMITTED&field.status%3Alist=FIXRELEASED&field.milestone%3Alist={{ fuel_milestone_id }}&field.tag={{ i }} &field.tags_combinator=ANY&search=Search">{{page_statistic[i]["FUEL"]["done"]}}</a></td>
                <td><a href="https://bugs.launchpad.net/fuel/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=NEW&field.status%3Alist=INVALID&field.status%3Alist=WONTFIX&field.status%3Alist=CONFIRMED&field.status%3Alist=TRIAGED&field.status%3Alist=INPROGRESS&field.status%3Alist=FIXCOMMITTED&field.status%3Alist=FIXRELEASED&field.status%3Alist=INCOMPLETE_WITH_RESPONSE&field.status%3Alist=INCOMPLETE_WITHOUT_RESPONSE&field.milestone%3Alist={{ fuel_milestone_id }}&field.tag={{i}}&field.tags_combinator=ANY&search=Search">{{ page_statistic[i]["FUEL"]["total"] }}</a></td>
                <td><a href="https://bugs.launchpad.net/fuel/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=NEW&field.status%3Alist=CONFIRMED&field.status%3Alist=TRIAGED&field.status%3Alist=INPROGRESS&field.status%3Alist=INCOMPLETE_WITH_RESPONSE&field.status%3Alist=INCOMPLETE_WITHOUT_RESPONSE&field.importance%3Alist=CRITICAL&field.importance%3Alist=HIGH&field.milestone%3Alist={{ fuel_milestone_id }}&field.tag={{i}}&field.tags_combinator=ANY&search=Search">{{ page_statistic[i]["FUEL"]["high"] }}</a></td>
                <td><a href="https://bugs.launchpad.net/mos/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=INVALID&field.status%3Alist=WONTFIX&field.status%3Alist=FIXCOMMITTED&field.status%3Alist=FIXRELEASED&field.milestone%3Alist={{ mos_milestone_id }}&field.tag={{ i }}&field.tags_combinator=ANY&search=Search">{{page_statistic[i]["MOS"]["done"]}}</a></td>
                <td><a href="https://bugs.launchpad.net/mos/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=NEW&field.status%3Alist=INVALID&field.status%3Alist=WONTFIX&field.status%3Alist=CONFIRMED&field.status%3Alist=TRIAGED&field.status%3Alist=INPROGRESS&field.status%3Alist=FIXCOMMITTED&field.status%3Alist=FIXRELEASED&field.status%3Alist=INCOMPLETE_WITH_RESPONSE&field.status%3Alist=INCOMPLETE_WITHOUT_RESPONSE&field.milestone%3Alist={{ mos_milestone_id }}&field.tag={{i}}&field.tags_combinator=ANY&search=Search">{{page_statistic[i]["MOS"]["total"]}}</a></td>
                <td><a href="https://bugs.launchpad.net/mos/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=NEW&field.status%3Alist=CONFIRMED&field.status%3Alist=TRIAGED&field.status%3Alist=INPROGRESS&field.status%3Alist=INCOMPLETE_WITH_RESPONSE&field.status%3Alist=INCOMPLETE_WITHOUT_RESPONSE&field.importance%3Alist=CRITICAL&field.importance%3Alist=HIGH&field.milestone%3Alist={{ mos_milestone_id }}&field.tag={{i}}&field.tags_combinator=ANY&search=Search">{{page_statistic[i]["MOS"]["high"]}}</a></td>
                <td>{{ fuel_plus_mos[i]["done"] }}</td>
                <td>{{ fuel_plus_mos[i]["total"] }}</td>
                <td>{{ fuel_plus_mos[i]["high"] }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td><b>Summary:</b></td>
                <td><a href="https://bugs.launchpad.net/fuel/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=INVALID&field.status%3Alist=WONTFIX&field.status%3Alist=FIXCOMMITTED&field.status%3Alist=FIXRELEASED&field.milestone%3Alist={{ fuel_milestone_id }}&field.tag={{ all_tags }}&field.tags_combinator=ANY&search=Search">{{summary_statistic["summary"]["FUEL"]["done"]}}</a></td>
                <td><a href="https://bugs.launchpad.net/fuel/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=NEW&field.status%3Alist=INVALID&field.status%3Alist=WONTFIX&field.status%3Alist=CONFIRMED&field.status%3Alist=TRIAGED&field.status%3Alist=INPROGRESS&field.status%3Alist=FIXCOMMITTED&field.status%3Alist=FIXRELEASED&field.status%3Alist=INCOMPLETE_WITH_RESPONSE&field.status%3Alist=INCOMPLETE_WITHOUT_RESPONSE&field.milestone%3Alist={{ fuel_milestone_id }}&field.tag={{ all_tags }}&field.tags_combinator=ANY&search=Search">{{ summary_statistic["summary"]["FUEL"]["total"] }}</a></td>
                <td><a href="https://bugs.launchpad.net/fuel/+bugs?field.searchtext=&orderby=-importance&field.status%3Alist=NEW&field.status%3Alist=CONFIRMED&field.status%3Alist=TRIAGED&field.status%3Alist=INPROGRESS&field.status%3Alist=INCOMPLETE_WITH_RESPONSE&field.status%3Alist=INCOMPLETE_WITHOUT_RESPONSE&field.importance%3Alist=CRITICAL&field.importance%3Alist=HIGH&field.milestone%3Alist={{ fuel_milestone_id }}&field.tag={{ all_tags }}&field.tags_combinator=ANY&search=Search">{{summary_statistic["summary"]["FUEL"]["high"]}}</a></td>
                <td>{{summary_statistic["summary"]["MOS"]["done"]}}</td>
                <td>{{summary_statistic["summary"]["MOS"]["total"]}}</td>
                <td>{{summary_statistic["summary"]["MOS"]["high"]}}</td>
                <td><b></b></td>
                <td><b></b></td>
                <td><b></b></td>
            </tr>

    </table>
<br><br>
<img src="https://cdn2.iconfinder.com/data/icons/seo-web-optomization-ultimate-set/512/checkmark_comleted_tasks-32.png" alt="*">
 "Not Done" are considered bugs with following statuses: "New", "Confirmed", "Triaged", "In Progress".
<br>
<img src="https://cdn2.iconfinder.com/data/icons/seo-web-optomization-ultimate-set/512/checkmark_comleted_tasks-32.png" alt="*">
 "Done" are considered bugs with following statuses: "Fix Committed", "Fix Released", "Won't Fix", "Invalid", "Expired", "Opinion", "Incomplete".
</div>

{% endblock %}

