{% extends "layout.html" %}
{% block body %}



<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand " ><a id="menu-toggle" href="#" >Milestones<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            {% for m in milestones|sort %}
                <li>
                    <a href="/project/fuelplusmos/{{ m }}">FUEL/MOS {{ m }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
             <div class="row">
                  <div class="col-md-12">
                       <h2 class="page-header"><br>Project "{{ project }}" {{milestone_name}}<br>Subproject "{{sbpr}}": <b>{{bugs_type_to_print}}</b> bugs</h2>

                       <script type="text/javascript" src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
                       <table class="sortable table table-striped">
                           <thead>
                           <tr>
                              <th>Bug #</th>
                              <th>Importance</th>
                              <th>Title</th>
                              <th>Assignee</th>
                              <th>Status</th>
                           </tr>
                           </thead>
                           <tbody>
                            {% for b in bugs %}
                            <tr class="bug_row" id="{{ b.id }}">
                                <td><a href="https://bugs.launchpad.net/{{ project }}/+bug/{{b.id}}">{{ b.id }}</a></td>
                                <td>{{ b.importance }}</td>
                                <td>{{ b.title }}</td>
                                <td><a href="https://launchpad.net/~{{ b.assignee }}">{{ b.assignee }}</a></td>
                                <td>{{ b.status }}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                       </table>

                  </div> <!--col-md-12-->
              </div> <!--row-->
          </div> <!--page-content inset-->
      </div> <!--page-content-wrapper-->

</div> <!--wrapper-->
<script type="text/javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});
</script>
{% endblock %}
