{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <h1 class="page-header"><br>Welcome to the LP Reports application!</h1>

        <div class="main_info">
            <p>Here you can find various dashboards for bugs on Launchpad.<p>

            <p>You can find the most actual reports in the 'Release' and 'Triage' menus above.<br>
               The reports located in 'Project reports' are not worked on for some time, but they still should work.
            </p>

            <p>You need to log in if you want to see Private or Private Security bugs. If you push 'Login' button, you will be redirected to Launchpad<br>
            where you can select duration of the token you provide to the application to search private bugs for you. Note a few things:</p>
            <ul style="list-style-type:circle">
               <li>Once you issue a token on the launchpad page you will have to manually return back to application by double-clicking on 'back' button in your browser.</li>
               <li>Once you log in, report generation will become considerably slower: while application stores public bugs in local DB, it will have to query launchpad using your token to generate each report to get private bugs. It takes up to several minutes for some reports.</li>
               <li>Right now the feature works only for reports in 'Release' and 'Triage' menu.</li>
               <li>If you ever get stuck with authentication, access this page to return things to normal: http://lp-reports-staging.vm.mirantis.net/logout.</li>
            </ul>

            <p>If you have questions or suggestions or need help, feel free to reach us via <b>lp-reports@mirantis.com</b> mailing list.</p>

        </div>

    </div>
{% endblock %}
